* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #2c3e50;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #1abc9c;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}


.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #1abc9c;
  color: #fff;
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

button {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid #FC4A1A;    
    padding: 0.0em;
    outline: none;
    background: #1abc9c;
    color: white;
    cursor: pointer;
    }


a:hover:after {
  content: attr(data-title);
  position: absolute;
  font: 18px verdana;
  top: 150%;
  left: 0;
  background: #1abc9c;
  color: white;
  box-sizing: border-box;
  border: 2px solid #FC4A1A;
  border-radius: 20%;
  padding: 3px;
}